{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Board &mdash; {{ name }} ({{ id }}){% endblock %}

{% block head %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
       const proto = location.protocol === "https:" ? "wss:" : "ws:";
       const src = `${proto}//${location.host}/ws`;
       document.body.insertAdjacentHTML(
           "beforeend",
           `<turbo-stream-source src="${src}"></turbo-stream-source>`
       );
    });
</script>
{% endblock %}

{% block content %}
    <header class="board-header">
        <h1 class="board-title">{{ name }}</h1>
        <form action="/lists" method="post">
            <input type="text" name="name" placeholder="New list&hellip;">
            <button type="submit">+ Add List</button>
        </form>
    </header>

    <turbo-frame id="lists" data-turbo-action="advance">
        {% for list in lists %}
        <div class="list">
            <h3 class="list-title">{{ list.name }}</h3>
            <ul id="list-cards-{{ list.id }}" data-controller="card-list" data-card-list-list-id-value="{{ list.id }}">
                {% for card in list.cards %}
                {{ macros::list_item(card) }}
                {% endfor %}
            </ul>
            {{ macros::add_card(list.id) }}
        </div>
        {% endfor %}
    </turbo-frame>
{% endblock %}
