{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Board &mdash; {{ board.name }} ({{ board.id }}){% endblock %}

{% block head %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
       const proto = location.protocol === "https:" ? "wss:" : "ws:";
       const src = `${proto}//${location.host}/ws`;
       document.body.insertAdjacentHTML(
           "beforeend",
           `<turbo-stream-source src="${src}"></turbo-stream-source>`
       );
    });
</script>
{% endblock %}

{% block content %}
<header class="board-header">
    <a class="board-breadcrumb" href="/" data-turbo="false">&larr; Boards</a>

    {{ macros::board_header(board.id, board.name) }}
</header>

<turbo-frame id="lists" data-turbo-action="advance" data-csrf="{{ csrf_token | safe }}">
    {% for list_id in list_ids %}
    <turbo-frame id="list-{{ list_id }}" refresh="morph" src="/lists/{{ list_id }}"></turbo-frame>
    {% endfor %}
    {{ macros::add_new_container_form(new_list, csrf_token) }}
</turbo-frame>
{% endblock %}
