{% import "macros.html" as macros %}
<turbo-frame id="list-{{ list.id }}">
    <div class="list">
        {{ macros::list_header(list, csrf_token) }}

        <ul id="list-cards-{{ list.id }}" data-controller="card-list" data-card-list-list-id-value="{{ list.id }}">
            {% for card in cards %}
            {{ macros::list_item(card.id, card.list_id, card.title, card.description, csrf_token) }}
            {% endfor %}
        </ul>
        {{ macros::add_card(list.id, None, None, csrf_token) }}
    </div>
</turbo-frame>