<turbo-frame id="board-title-{{ board.id }}">
    <a class="board-breadcrumb" href="/">&larr; Boards</a>
    <form action="/boards/{{ board.id }}/rename" method="post">
        <input type="hidden" name="id" value="{{ board.id }}">
        <input type="text" name="name" value="{{ board.name }}">
        <div class="board-edit-actions">
            <button type="submit">Save</button>
            <a href="/boards/{{ board.id }}/header" class="btn-cancel">Cancel</a>
        </div>
    </form>
</turbo-frame>